p{
    font-family: 'Orbitron', sans-serif;
}
.container{
    background-color:whitesmoke;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
.calculatorbody{
    background-color:rgb(42, 39, 39);
    padding:10px;
    border-radius: 15px;
}
.calculatorbody form input{
    border:0;
    outline:0;
    width:65px;
    height:65px;
    border-radius:15px;
    box-shadow: 3px 5px rgb(69, 69, 69);
    background: transparent;
    font-size:30px;
    color:white;
    cursor:pointer;
    margin:10px;
}
form input.equal{
    width:150px;
}
form .display{
    display:flex;
    /* border: 100px  rgb(197, 25, 25); */
    justify-content:flex-end;
    margin: 10px 0 5px 0;
}
form .display input{
    text-align:right;
    flex:1;
    box-shadow:none;
}
form input.colorchange{
    color:rgb(215, 246, 152);
}
form input.equal{
    color:rgb(239, 108, 108);
}